@import 'tailwindcss';

@source '../layouts/**/*.ts';
@source '../routes/**/*.ts';
@source '../routes/**/*.tsx';
@source '../client/**/*.ts';
@source '../client/**/*.tsx';

h-state[data-pending] {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.15s ease;
}
